<h2>By country</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="search()" autocomplete="off">
      <input type="text" name="term" class="form-control" [(ngModel)]="term" placeholder="Search country">
    </form>
  </div>
</div>

<hr>

<div *ngIf="isError" class="alert alert-danger">No search results for {{ term }}</div>
<div *ngIf="!isError" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Town</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Flag</td>
          <td>Name</td>
          <td>115135</td>
          <td>
            <a href="/country/cri">Show</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>