<h2>By country</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="search()" autocomplete="off">
      <input type="text" name="term" class="form-control" [(ngModel)]="term" placeholder="Search country">
    </form>
  </div>
</div>

<hr>

<div *ngIf="isError" class="alert alert-danger">No search results for {{ term }}</div>
<div *ngIf="countries.length > 0" class="alert alert-row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Town</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <td>{{ i + 1 }}</td>
          <td><img class="small-flag" [src]="country.flags.svg"></td>
          <td>{{ country.name.common }}</td>
          <td>{{ country.population | number }}</td>
          <td>
            <a [routerLink]="['/country', country.cca2]">Show</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>