<h2>By country</h2>
<hr>

<div class="row">
  <div class="col">
    <app-country-input (onEnter)="search($event)" (onDebounce)="suggestions($event)" placeholder="Search country..."></app-country-input>
  </div>
</div>

<ul *ngIf="showSuggested" class="list-group">
  <li *ngFor="let country of suggestedCountries" class="list-group-item list-group-item-action">
    <a class="nav-link" [routerLink]="['/country', country.cca2]">{{country.name.common}}</a>
  </li>
  <li class="list-group-item list-group-item-action" (click)="searchSuggested(term)">
    <a class="nav-link">"Buscar {{term}}"</a>
  </li>
</ul>

<hr>

<div *ngIf="isError" class="alert alert-danger">No search results for {{ term }}</div>
<div *ngIf="countries.length > 0" class="alert alert-row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>