<h3>Search by region <small>{{ activeRegion | titlecase }}</small></h3>
<hr>

<h5>Select the region</h5>
<div class="row">
  <div class="col">
    <!-- Alternativas para cambiar la clase cuando se ha activado el botón -->
    <!-- [class.btn-primary]="region === activeRegion"  -->
    <!-- [ngClass]="{'btn-primary': activeRegion === region, 'btn-outline-primary': activeRegion !== region}" -->
    <!-- [class]="(region === activeRegion) ? 'btn btn-primary mx-1' : 'btn btn-outline-primary mx-1'" -->
    <button *ngFor="let region of regions" [class]="getCSSClass(region)" (click)="activateRegion(region)">{{ region | titlecase }}</button>
  </div>
</div>